@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ireland-green: #009A49;
  --ireland-orange: #FF7900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}